* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #d5e0e8;
  }

/**Login css start**/
.login-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.login-btn:hover {
  background-color: #3e8e41;
}


/**Login css end**/


/*Index Css End*/
header {
  background: #d5e0e8;
  color: #000;
  padding: 10px;
  text-align: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  line-height:3;
}
  nav ul li {
    margin: 0 10px;
  }
  nav ul li a {
    color: #000;
    text-decoration: none;
  }
  /*Index.html*/
  .col-2{
    width: 20%;
    height: 800px; 
    max-width: 100%;
    max-height: 100%;
    flex-basis: 20%;   
    padding: 10px;
    border-radius: 8px;
    background-color: #d5e0e8;
    float: left;
  }
  /* .col-2 {
    flex-basis: 20%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  } */

  .col-2 ul {
    list-style-type: none;
    padding: 0;
  }

  .col-2 ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .col-2 ul li i {
    margin-right: 10px;
  }

  .col-2 ul li a {
    margin: 0;
    font-size: 18px;
    text-decoration: none;
  }

  .col-8{
    width: 79%;
    float: right;
    padding: 20px;
    border-radius: 8px;
    background-color: #d5e0e8;
  }
  /* .col-8 {
    flex-basis: 70%;
    margin-left: 10px;
    padding: 20px;
    background-color: #d5e0e8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  } */

/*Index Css End*/

/**About Section**/

section {
background-color: #f0f0f0;
padding: 20px;
border: 1px solid #ccc;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h1 {
font-size: 24px;
font-weight: bold;
margin-bottom: 10px;
}

section p {
font-size: 16px;
margin-bottom: 20px;
}

/**About Section ENd**/


/*Content Library Css*/

.library-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.library-item {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-basis: calc(33.333% - 20px);
  box-sizing: border-box;
}

.library-item h2 {
  font-size: 24px;
  color: #343a40;
  margin-bottom: 10px;
}

.library-item p {
  font-size: 16px;
  color: #6c757d;
  margin-bottom: 20px;
}

.library-item .btn a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.library-item a{
  text-decoration: none;
}

.library-item .btn a:hover {
  background-color: #0056b3;
}

/*Content Library Css*/

/*Product Page Css*/
.index{
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* flex-basis: calc(33.333% - 20px); */
  box-sizing: border-box;
}


.product-list, .about-us, .contact-us {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .product-item, .team-member {
    margin-bottom: 20px;
    text-align: center;
  }
  .product-item img, .team-member img {
    max-width: 100%;
    border-radius: 8px;
  }
  .input-box {
    margin-bottom: 15px;
  }
  .input-box input, .input-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  textarea {
    resize: vertical;
  }
  .btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #369ae1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  .btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(37, 39, 41);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  td a{
     text-decoration: none;
  }
  footer {
    background: #d5e0e8;
    color: #000;
    text-align: center;
    padding: 10px;
  }
  /*Product*/
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .product-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .product-header h1 {
    font-size: 36px;
    color: #343a40;
  }

  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product-item {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-basis: calc(33.333% - 20px);
    box-sizing: border-box;
  }

  .product-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .product-item h2 {
    font-size: 24px;
    color: #343a40;
    margin: 20px 0 10px;
  }

  .product-item p {
    font-size: 16px;
    color: #6c757d;
  }

  .product-item .price {
    font-size: 20px;
    color: #007bff;
    margin-top: 10px;
  }

  .product-item .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
  }

  .product-item .btn:hover {
    background-color: #0056b3;
  }

  /*Contact Page*/
  .contact-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .contact-header {
    background-color: #d5e0e8;
    color: #000;
    padding: 10px;
    text-align: center;
  }

  .contact-header h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .contact-form {
    padding: 20px;
  }

  .contact-form label {
    display: block;
    margin-bottom: 10px;
  }

  .contact-form input[type="text"], .contact-form input[type="email"], .contact-form input[type="date" i], .contact-form input[type="file" i] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }

  .contact-form textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }

  .contact-form button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #d5e0e8;
    color: #000;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  .contact-form button[type="submit"]:hover {
    background-color: #2580b8;
    color: #fff;
  }

/***********--------Table-------*************/
table{
  border: 2px solid #000;
  padding: 6px;
  margin: 0 0px 0px 50px; 
}
td{
  padding: 10px;
}
th{
  padding: 10px;
  background-color: #000;
  color: #fff;
}
