{% extends "base.html" %}
{% block title %}
<title>About</title>
{% endblock title %}

{% block main %}
<style>
  #about-us {
    display: flex;
    align-items: flex-start;
  }
  #about-us img {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
  }
  #about-us div {
    max-width: 50%;
  }
</style>

<div class="index">
  <div class="col">
    <section id="about-us">
      <img src="static/images/img1.jpg" alt="About Us Image">
      <div>
        <h1>About Us</h1>
        <p>Welcome to our library, where we strive to provide the best resources for our users. Our mission is to make
          learning and discovery accessible to everyone, regardless of their background or location.</p>
        <p>We believe that knowledge is power, and that everyone deserves the opportunity to access it. That's why we're
          committed to creating a platform that is inclusive, accessible, and easy to use.</p>
        <p>Our team is made up of passionate individuals who are dedicated to making a difference in the world. We're a
          diverse group of people from all walks of life, united by our shared vision of creating a better future for
          everyone.</p>
      </div>
    </section>
  </div>
</div>
{% endblock main %}