{% extends "parent.html" %}
{% block title %}
<title>Add_Video</title>
{% endblock title %}

{% block main %}
<div class="col-8">
    <div class="contact-container">
        <div class="contact-header">
            <h4>Add Video</h4>
        </div>
        <form class="contact-form" action="{{ url_for('add_videos') }}" method="POST" enctype="multipart/form-data" onsubmit="handleFormSubmit(event)">
            <label for="video_title">Video Title:</label>
            <input type="text" id="video_title" name="video_title" required><br>
            <label for="thumbnail_path">Thumbnail Path:</label>
            <input type="file" id="thumbnail_path" name="thumbnail_path" required><br>
            <label for="video_id">Video ID:</label>
            <input type="text" id="video_id" name="video_id" required>
            <button type="submit">Add Video</button>
        </form>
        <div class="container">
            <table class="table text-center border border-dark">
                <thead>
                    <tr>
                        <th scope="col" class="bg-dark text-light">Id</th>
                        <th scope="col" class="bg-dark text-light">Video Title</th>
                        <th scope="col" class="bg-dark text-light">Thumbnail Path</th>
                        <th scope="col" class="bg-dark text-light">Video Id</th>
                        <th scope="col" class="bg-dark text-light">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for video in all_video %}
                    <tr>
                        <td scope="row">{{ video.id }}</td>
                        <td>{{ video.video_title }}</td>
                        <td>{{ video.thumbnail_path }}</td>
                        <td>{{ video.video_id }}</td>
                        <td>
                            <a href="/videoupdate?id={{ video.id }}" class="btn btn-primary">Update</a>
                            <a href="/videodelete?id={{ video.id }}" class="btn btn-secondary">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main %}
