{% extends "parent.html" %}
{% block title %}
<title>Update_Content</title>
{% endblock title %}

{% block main %}
<div class="col-8">
    <div class="contact-container">
        <div class="contact-header">
            <h3>Update Content</h3>
        </div>
        <form class="contact-form" action="/contentupdate?id={{ reqcontent.id }}" method="post" enctype="multipart/form-data">
            <label for="img">Image</label>
            <input type="file" id="img" name="img">
            
            <label for="title">Content Title</label>
            <input type="text" id="title" name="title" value="{{ reqcontent.title }}">
            
            <label for="description">Content Description</label>
            <input type="text" id="description" name="description" value="{{ reqcontent.description }}">
            
            <label for="docu">Upload Document</label>
            <input type="file" id="docu" name="docu">
            
            <label for="course">Course Name</label>
            <select name="course" id="course">
                <option value="">Select a course</option>
                {% for course in courses %}
                <option value="{{ course.id }}" {% if course.id == reqcontent.course_id %}selected{% endif %}>{{ course.ctitle }}</option>
                {% endfor %}
            </select>

            <label for="docdate">Content Date:</label>
            <input type="date" id="docdate" name="docdate" value="{{ reqcontent.docdate }}">

            <button type="submit" name="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock main %}
