{% extends "parent.html" %}
{% block title %}
<title>Add_Course</title>
{% endblock title %}

{% block main %}
<div class="col-8">
    <!-- Add content for the main section here -->
    <div class="contact-container">
        <div class="contact-header">
            <h4>Update Course</h4>
        </div>

        <form class="contact-form" action="/coupdate?id={{ reqcat.id }}" method="post">
            <label for="ctitle">Course Title</label>
            <input type="text" id="ctitle" name="ctitle" value="{{ reqcat.ctitle }}">
            <label for="cdescription">Course Description</label>
            <input type="text" id="cdescription" name="cdescription" value=" {{ reqcat.cdescription }} ">
            <label for="cdate">Course Date</label>
            <input type="date" id="cdate" name="cdate" value="{{ reqcat.cdate.strftime('%Y-%m-%d') }}">
            <button type="submit" name="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock main %}