{% extends "base.html" %}
{% block title %}
<title>Home</title>
{% endblock title %}

{% block main %}
<div class="index">
    <div class="col">
        <main>
            <h1>Available Courses</h1>
            {% for course in courses %}
            <div class="course">
                <h2>{{ course.ctitle }}</h2>
                <p>{{ course.cdescription }}</p>
                <h3>Modules:</h3>
                {% for module in course.modules %}
                <div class="module">
                    <h3>{{ module.title }}</h3>
                    <p>{{ module.description }}</p>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </main>
    </div>
</div>
{% endblock main %}
