<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  {% block title %}
      <title></title>
  {% endblock title %}
  <!-- <link rel="stylesheet" href="templates/css/style.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <header>
    <img src="static/images/logo.png" alt="logo" width="50px" height="50px" style="float:left;margin-left:30px;">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/product">Products</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/logout" class="login-btn">Logout</a></li>
      </ul>
    </nav>
  </header>
  <div class="index ">
    <div class="col-2">
      <ul>
        <li><h2>Content Library</h2></li>
        <li><a href="/add_module" style="color: black;"><i class='bx bxs-module' style="color: black;"></i>
          Add Modules</a>
        </li>
        <li><a href="/add_course" style="color: black;"><i class='bx bxs-user' style="color: black;"></i>
          Add Courses</a>
        </li>
        <li><a href="/add_content" style="color: black;"><i class='bx bxs-user' style="color: black;"></i>
          Add Content</a>
        </li>
      </ul>
    </div>
    {% block main %}
    <div class="col-8">
       

    </div>
    {% endblock main %}

  </div>
</body>
</html>

