{% extends "base.html" %}
{% block title %}
<title>Product</title>
{% endblock title %}

{% block main %}
<div class="index container-fluid mt-3 pl-3">
  <div class="row">
    {% for doc in documents %}
    <div class="col-md-3 mb-4">
      <div class="card h-100 library-item" data-course-id="{{ doc.course_id }}" data-date="{{ doc.docdate }}">
        <img src="{{ url_for('static', filename=doc.image_path) }}" class="card-img-top" alt="{{ doc.cltitle }}">
        <div class="card-body">
          <h5 class="card-title">{{ doc.cltitle }}</h5>
          <div class="popBox">
            <p class="card-text" style="display: none;">{{ doc.description }}</p>
          </div>
          <a href="{{ url_for('download_document', document_id=doc.id) }}" class="btn btn-primary pulse"
            target="_blank">View Document</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock main %}

